@import 'colors.scss';

@font-face {
    font-family: 'Hurme';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'avantGarde';
    src: url('../assets/fonts/ITCAvantGardeGothicMedium.otf');
}


$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;

$fontWeightThin: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1:3rem;
$fontSizeH2: 2rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$fontSizeSmallest: 0.5rem;
$spaceLetters:0.45px;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;

$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;
$section-margin:5rem;

body {
    color: $pirateBlack;
    font-family: sans-serif;
}

.container-fluid {
    max-width: 1700px;
}














@keyframes logoBar {
    from {
        transform: translateX(-14px) scaleX(2);
    }

    to {
        transform: translateX(0) scaleX(1);
    }
}

@keyframes logoGroup {
    from {
        transform: matrix(1.5184, 0, 0, 1.5184, -50.064, -12.644);
    }

    to {

        transforM: matrix(1.5184, 0, 0, 1.5184, -20.064, -12.644);
    }
}

@keyframes sliderIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeInVid {
    from {
        opacity: 0
    }

    to {
        opacity: 0.1
    }
}

@keyframes hr {
    from {
        width: 0;
    }

    to {
        width: 70px;
    }
}


@keyframes hrOut {
    from {
        width: 70px;
    }

    to {
        width: 0px;
    }
}

@keyframes spark {
    from {
        clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}